<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProyectoFinalDBEntities" connectionString="metadata=res://*/TaskDataModel.csdl|res://*/TaskDataModel.ssdl|res://*/TaskDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HPM-PC\SQLEXPRESS;initial catalog=ProyectoFinalDB;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>