@model ProyectoFinal.Models.Queue

@{
    ViewBag.Title = "Create Queue";
}

<h2>Create Queue</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Priority)
            @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
        </div>
        <br />
        <input type="submit" value="Create" class="btn btn-success" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
