@{
    ViewBag.Title = "Contact Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        Universidad Fidélitas<br />
        Campus Virtual<br />
    </address>

    <h3>Grupo 4</h3>
    <address>
        <strong>Horacio Porras:</strong>   <a href="mailto:hporras80634@ufide.ac.cr">hporras80634@ufide.ac.cr</a><br />
        <strong>Genesis Rodriguez:</strong> <a href="mailto:grodriguez40292@ufide.ac.cr">grodriguez40292@ufide.ac.cr</a><br />
        <strong>Allan Azofeifa:</strong>   <a href="mailto:aazofeifa60857@ufide.ac.cr">aazofeifa60857@ufide.ac.cr</a><br />
        <strong>Joshua Lopez:</strong>   <a href="mailto:jlopez40530@ufide.ac.cr">jlopez40530@ufide.ac.cr</a><br />
    </address>
</main>