@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Advanced Programming - Final Project</h1>
        <p class="lead">This is the final project for the Advanced Programming course for group 4, consisting of Horacio Porras, Genesis Rodriguez, Allan Azofeifa, and Joshua Lopez.</p>
    </section>
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="taskManagementTitle">
            <h2 id="taskManagementTitle">Task Management</h2>
            <p>Easily organize and manage your tasks with intuitive controls that help you assign, prioritize, and track progress for efficient project execution.</p>
            <p><a class="btn btn-outline-dark" href="">Go to &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="taskQueueTitle">
            <h2 id="taskQueueTitle">Task Queue</h2>
            <p>Automatically queue tasks based on priority and dependencies, ensuring smooth, sequential processing without overloading your system.</p>
            <p><a class="btn btn-outline-dark" href="">Go to &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="taskExecutionTitle">
            <h2 id="taskExecutionTitle">Task Execution</h2>
            <p>Run tasks reliably with built-in support for concurrency, retries, and resource optimization to ensure accurate and timely completion.</p>
            <p><a class="btn btn-outline-dark" href="">Go to &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="monitoringNotificationTitle">
            <h2 id="monitoringNotificationTitle">Monitoring and Notification</h2>
            <p>Stay informed with real-time dashboards and alerts that keep you updated on task status, failures, and system performance.</p>
            <p><a class="btn btn-outline-dark" href="">Go to &raquo;</a></p>
        </section>
    </div>
</main>